<nav class="navbar navbar-light bg-light row no-gutters">
    <div class="col-sm d-flex flex-row">
        <a class="navbar-brand" href="#">Cross</a>
        <input type="file" #fileupload (change)="handleFileInput($event)" hidden>
        <button type="button" class="btn btn-default navbar-btn shadow-none"
            (click)="fileupload.click()">Import</button>
        <button type="button" class="btn btn-default navbar-btn shadow-none" (click)=saveToFile()>Export</button>
    </div>
    <div class="col-sm d-flex flex-row">
        <ul ngbNav #nav="ngbNav" class="nav-tabs mr-auto">
            <li [ngbNavItem]="1" class="nav-item">
                <a ngbNavLink>Fill</a>
                <ng-template ngbNavContent>
                    <app-word-suggestion></app-word-suggestion>
                </ng-template>
            </li>
            <li [ngbNavItem]="2" class="nav-item">
                <a ngbNavLink>Clues</a>
                <ng-template ngbNavContent>
                    <app-clues></app-clues>
                </ng-template>
            </li>
            <li [ngbNavItem]="3" class="nav-item">
                <a ngbNavLink>Search</a>
                <ng-template ngbNavContent>
                    <app-dictionary-search></app-dictionary-search>
                </ng-template>
            </li>
        </ul>
    </div>
</nav>