<style>
  #cw_container {
    width: 500px;
    height: 705px;
    margin: 20px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  * {
    cursor: default;
  }
  
  *:focus {
    outline: none;
  }
  
  svg {
    font-family: sans-serif;
  }
  </style>
<head>
  <title>Cross</title>
</head>
<div id="wrapper" style="max-width: 1000px; margin: 20px auto;">
  <div style="width: 200px; margin: 0 auto; display: inline-block; vertical-align: top;">
    <button (click)=saveToFile()>Save</button>
    <div class="form-group">
      <label for="file">Choose File</label>
      <input type="file"
             id="file"
             (change)="handleFileInput($event)">
    </div>
  </div>
  <div style="width: 500px; margin: 0 auto; display: inline-block; vertical-align: top;">
    <app-grid></app-grid>
  </div>
  <div id="cluelist" style="max-width: 300px; margin: 0 auto; display: inline-block; vertical-align: top;">
    <app-suggestions></app-suggestions>
	</div>
</div>