<div class="container-fluid d-flex flex-column vh-100">
  <app-menubar #menubar></app-menubar>
  <div class="row flex-fill no-gutters" style="min-height: 0px;">
    <div class="col-md mh-100">
      <div class="d-flex flex-column mh-100">
        <div class="flex-fill" style="min-height: 0px;">
          <app-grid-display></app-grid-display>
        </div>
      </div>
    </div>
    <div class="col-md mh-100">
      <div class="d-flex flex-column mh-100">
        <div class="flex-fill overflow-auto" style="min-height: 0px;" [ngbNavOutlet]="menubar.tab"></div>
      </div>
    </div>
  </div>
</div>