<div class="container-fluid d-flex flex-column vh-100">
  <app-menubar #menubar></app-menubar>
  <div class="row flex-fill no-gutters" style="min-height: 0px;">
    <div class="col-md d-flex flex-column primary-column mh-100 pt-2 pb-3">
      <div class="flex-fill" style="min-height: 0px;">
        <app-grid-display></app-grid-display>
      </div>
    </div>
    <div class="col-md d-flex flex-column primary-column mh-100 pt-2 pb-3">
      <!-- consider removing this horrible hack by using routes. -->
      <ng-container *ngIf="menubar.tab">
        <div class="flex-fill overflow-auto" style="min-height: 0px;" [ngbNavOutlet]="menubar.tab">
        </div>
      </ng-container>
    </div>
  </div>
</div>