/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
}
.ql-editor {
    padding: 0px !important;
}
div.tab-content div.tab-pane {
    height: 100%;
}
.primary-column {
    margin-left: 10px;
    margin-right: 10px;
}
.dictionary-scroll {
    max-width: 250px;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
}
  
  /* Works on Chrome, Edge, and Safari */
* ::-webkit-scrollbar {
  width: 8px;
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  border: 1px solid transparent;
  background: #cdcdcd;
  background-clip: content-box;
}
  
  
  
