<div class="h-100 overflow-auto d-flex flex-column" style="max-width: 600px">
  <div>
    <table class="table-with-input">
      <tr>
        <td class="pb-2" colspan="3">Across Clues</td>
      </tr>
      <ng-container *ngFor="let clue of gridDisplay.getAcrossClues() trackBy: trackByCursor">
        <tr [class.active]="clue.focus" [id]="id(clue)" tabindex="0" (focusin)="selectClue(clue)">
          <td>
            <div>{{clue.index}}A.</div>
          </td>
          <td>{{clue.word}}</td>
          <td class="pl-3">
            <app-clue [clue]="clue"></app-clue>
          </td>
        </tr>
      </ng-container>

      <tr>
        <td class="py-2" colspan="3">Down Clues</td>
      </tr>
      <ng-container *ngFor="let clue of gridDisplay.getDownClues() trackBy: trackByCursor">
        <tr [class.active]="clue.focus" [id]="id(clue)" tabindex="0" (focusin)="selectClue(clue)">
          <td>
            <div>{{clue.index}}D.</div>
          </td>
          <td>{{clue.word}}</td>
          <td class="pl-3">
            <app-clue [clue]="clue"></app-clue>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>